<html ng-app="alsTrackerApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="chindict.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <style>
      #radicals {
        font-size: 90px;
      }
      
      .stream {
        font-size: 50px;
        background-color: yellow;
      }

      .back-btn {
        height: 200px;
        background-color: green;
        font-size: 50px;
      }

      .scroll-btn-up {
        height: 200px;
        background-color: red;
        font-size: 50px;
      }
      .scroll-btn-down {
        height: 200px;
        background-color: blue;
        font-size: 50px;
      }

      .scrollable-table {
        height: 75%;
        overflow: auto;
      }

    </style>
    <script>
      var alsTrackerApp = angular.module("alsTrackerApp", []);

      alsTrackerApp.controller("alsCtrl", function($scope){

        // radicals list from chindict.js
        $scope.list = radicals;
        $scope.state = "radical";
        $scope.stream = [];

        function getWords(radical){
    			$scope.list = chindict[radical]
        }

        $scope.processClick = function(choice) {
          if ($scope.state == "radical") {
            getWords(choice);
            $scope.state = "word";
          }
          else {
            $scope.stream.push(choice);
            $scope.list = radicals;
            $scope.state = "radical";
          }

          scrollTo(scroll = 0);
        };

        $scope.backClick = function() {
          if ($scope.state == "word") {
            $scope.list = radicals;
            $scope.state = "radical";
            scrollTo(scroll = 0);
          }
        };

        function scrollTo(scrollLevel){
          console.log(scrollLevel);
          $(".scrollable-table").animate({
            scrollTop: scrollLevel
          });
        }

        function isHover(id){
          return $("#" + id + ":hover").length > 0;
        }

        scroll = 0;
        function scrollMouseOver() {
          SCROLL_AMOUNT = 200;
          // moves mouse up
          if (isHover("up")) {
            scroll = Math.max(scroll - SCROLL_AMOUNT, 0);
            scrollTo(scroll);
          }
          // moves mouse down
          if (isHover("down")) {
            scroll = scroll + SCROLL_AMOUNT;
            scrollTo(scroll);
          }
          setTimeout(scrollMouseOver, 500);
        }
        scrollMouseOver();
      });
    </script>
    <div ng-controller="alsCtrl">
      <div class="row">
        <div class="col-md-6">
          <div class="scrollable-table">
            <table id="radicals" class="table text-center table-hover">
              <tbody>
                <tr class='qrad' ng-repeat="choice in list track by $index">
                  <td ng-click="processClick(choice)">{{ choice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4 text-center">
          <div class="row scroll-btn-up" id="up">
            Up
          </div>
          <div class="row scroll-btn-down" id="down">
            Down
          </div>
        </div>
      </div>
      <div class="row stream">
        <div class="col-md-8 text-center">
          <span ng-repeat="word in stream track by $index">
            {{ word }}
          </span>
        </div> 
        <div ng-click="backClick()" class="col-md-4 text-center back-btn">
          Back
        </div>
      </div>
    </div>
  </body>


</html>
